* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.row {
  display: block;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 81.25%;
}
@media screen and (min-width: 30em) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 48em) {
  html {
    font-size: 93.75%;
  }
}
@media screen and (min-width: 60em) {
  html {
    font-size: 106.25%;
  }
}
@media screen and (min-width: 70em) {
  html {
    font-size: 112.5%;
  }
}

body {
  background: #fafafa;
  line-height: 2rem;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2307692308rem;
}
@media screen and (min-width: 30em) {
  body {
    font-size: 1.2142857143rem;
  }
}
@media screen and (min-width: 48em) {
  body {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 60em) {
  body {
    font-size: 1.1764705882rem;
  }
}
@media screen and (min-width: 70em) {
  body {
    font-size: 1.2222222222rem;
  }
}

a {
  transition: color .1s, background-color .1s;
  color: #7f68b5;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #494949;
  text-decoration: none;
}

p a, li a {
  background-image: linear-gradient(to bottom, transparent 50%, #d6cfe7 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 90%;
  text-shadow: 1px 0 #FFF,2px 0 #FFF,-1px 0 #FFF,-2px 0 #FFF;
}
p a:hover, p a:active, p a:focus, li a:hover, li a:active, li a:focus {
  background-image: linear-gradient(to bottom, transparent 50%, #969696 50%);
}

p {
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-bottom: 1.4061438462rem;
  padding-top: 0.5938561538rem;
}
@media screen and (min-width: 30em) {
  p {
    margin-bottom: 1.4007042857rem;
    padding-top: 0.5992957143rem;
  }
}
@media screen and (min-width: 48em) {
  p {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }
}
@media screen and (min-width: 60em) {
  p {
    margin-bottom: 1.3882252941rem;
    padding-top: 0.6117747059rem;
  }
}
@media screen and (min-width: 70em) {
  p {
    margin-bottom: 1.4033233333rem;
    padding-top: 0.5966766667rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #4a4a4a;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h1, .alpha {
  line-height: 3rem;
  font-size: 2.1538461538rem;
  margin-bottom: 0.19999rem;
  padding-top: 0.80001rem;
}
@media screen and (min-width: 30em) {
  h1, .alpha {
    font-size: 2.1428571429rem;
    margin-bottom: 0.1964185714rem;
    padding-top: 0.8035814286rem;
  }
}
@media screen and (min-width: 48em) {
  h1, .alpha {
    font-size: 2.1333333333rem;
    margin-bottom: 0.1933233333rem;
    padding-top: 0.8066766667rem;
  }
}
@media screen and (min-width: 60em) {
  h1, .alpha {
    font-size: 2.3529411765rem;
    margin-bottom: 0.2646958824rem;
    padding-top: 0.7353041176rem;
  }
}
@media screen and (min-width: 70em) {
  h1, .alpha {
    font-size: 2.7777777778rem;
    margin-bottom: 0.4027677778rem;
    padding-top: 0.5972322222rem;
  }
}

h2, .beta {
  line-height: 3rem;
  font-size: 1.9230769231rem;
  margin-bottom: 0.12499rem;
  padding-top: 0.87501rem;
}
@media screen and (min-width: 30em) {
  h2, .beta {
    font-size: 1.9rem;
    margin-bottom: 0.11749rem;
    padding-top: 0.88251rem;
  }
}
@media screen and (min-width: 48em) {
  h2, .beta {
    font-size: 1.8733333333rem;
    margin-bottom: 0.1088233333rem;
    padding-top: 0.8911766667rem;
  }
}
@media screen and (min-width: 60em) {
  h2, .beta {
    font-size: 2.0882352941rem;
    margin-bottom: 0.1786664706rem;
    padding-top: 0.8213335294rem;
  }
}
@media screen and (min-width: 70em) {
  h2, .beta {
    font-size: 2.4388888889rem;
    margin-bottom: 0.2926288889rem;
    padding-top: 0.7073711111rem;
  }
}

h3, .gamma {
  line-height: 3rem;
  font-size: 1.7230769231rem;
  margin-bottom: 0.05999rem;
  padding-top: 0.94001rem;
}
@media screen and (min-width: 30em) {
  h3, .gamma {
    font-size: 1.7142857143rem;
    margin-bottom: 0.0571328571rem;
    padding-top: 0.9428671429rem;
  }
}
@media screen and (min-width: 48em) {
  h3, .gamma {
    font-size: 1.7066666667rem;
    margin-bottom: 0.0546566667rem;
    padding-top: 0.9453433333rem;
  }
}
@media screen and (min-width: 60em) {
  h3, .gamma {
    font-size: 1.7647058824rem;
    margin-bottom: 0.0735194118rem;
    padding-top: 0.9264805882rem;
  }
}
@media screen and (min-width: 70em) {
  h3, .gamma {
    font-size: 1.9611111111rem;
    margin-bottom: 0.1373511111rem;
    padding-top: 0.8626488889rem;
  }
}

h4, .delta {
  font-size: 1.5384615385rem;
  margin-bottom: -0.50001rem;
  padding-top: 0.50001rem;
}
@media screen and (min-width: 30em) {
  h4, .delta {
    font-size: 1.5214285714rem;
    margin-bottom: -0.5055457143rem;
    padding-top: 0.5055457143rem;
  }
}
@media screen and (min-width: 48em) {
  h4, .delta {
    font-size: 1.5rem;
    margin-bottom: -0.51251rem;
    padding-top: 0.51251rem;
  }
}
@media screen and (min-width: 60em) {
  h4, .delta {
    font-size: 1.5705882353rem;
    margin-bottom: -0.4895688235rem;
    padding-top: 0.4895688235rem;
  }
}
@media screen and (min-width: 70em) {
  h4, .delta {
    font-size: 1.7277777778rem;
    margin-bottom: -0.4384822222rem;
    padding-top: 0.4384822222rem;
  }
}

h5, .epsilon {
  font-size: 1.3769230769rem;
  margin-bottom: -0.55251rem;
  padding-top: 0.55251rem;
}
@media screen and (min-width: 30em) {
  h5, .epsilon {
    font-size: 1.3714285714rem;
    margin-bottom: -0.5542957143rem;
    padding-top: 0.5542957143rem;
  }
}
@media screen and (min-width: 48em) {
  h5, .epsilon {
    font-size: 1.3666666667rem;
    margin-bottom: -0.5558433333rem;
    padding-top: 0.5558433333rem;
  }
}
@media screen and (min-width: 60em) {
  h5, .epsilon {
    font-size: 1.3235294118rem;
    margin-bottom: -0.5698629412rem;
    padding-top: 0.5698629412rem;
  }
}
@media screen and (min-width: 70em) {
  h5, .epsilon {
    font-size: 1.3888888889rem;
    margin-bottom: -0.5486211111rem;
    padding-top: 0.5486211111rem;
  }
}

h6, .zeta {
  font-size: 1.2307692308rem;
  margin-bottom: -0.60001rem;
  padding-top: 0.60001rem;
}
@media screen and (min-width: 30em) {
  h6, .zeta {
    font-size: 1.2142857143rem;
    margin-bottom: -0.6053671429rem;
    padding-top: 0.6053671429rem;
  }
}
@media screen and (min-width: 48em) {
  h6, .zeta {
    font-size: 1.2rem;
    margin-bottom: -0.61001rem;
    padding-top: 0.61001rem;
  }
}
@media screen and (min-width: 60em) {
  h6, .zeta {
    font-size: 1.1764705882rem;
    margin-bottom: -0.6176570588rem;
    padding-top: 0.6176570588rem;
  }
}
@media screen and (min-width: 70em) {
  h6, .zeta {
    font-size: 1.2222222222rem;
    margin-bottom: -0.6027877778rem;
    padding-top: 0.6027877778rem;
  }
}

ul, ol {
  margin-bottom: 1.4061438462rem;
  padding-top: 0.5938561538rem;
}
@media screen and (min-width: 30em) {
  ul, ol {
    margin-bottom: 1.4007042857rem;
    padding-top: 0.5992957143rem;
  }
}
@media screen and (min-width: 48em) {
  ul, ol {
    margin-bottom: 1.39599rem;
    padding-top: 0.60401rem;
  }
}
@media screen and (min-width: 60em) {
  ul, ol {
    margin-bottom: 1.3882252941rem;
    padding-top: 0.6117747059rem;
  }
}
@media screen and (min-width: 70em) {
  ul, ol {
    margin-bottom: 1.4033233333rem;
    padding-top: 0.5966766667rem;
  }
}
ul li, ol li {
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
  margin-left: 2rem;
}
@media screen and (min-width: 30em) {
  ul li, ol li {
    margin-left: 0;
  }
}

b, strong, .bold {
  font-weight: 700;
}

em, i, .italic {
  font-style: italic;
}

small, .caption {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9846153846rem;
}
@media screen and (min-width: 30em) {
  small, .caption {
    font-size: 0.9714285714rem;
  }
}
@media screen and (min-width: 48em) {
  small, .caption {
    font-size: 0.96rem;
  }
}
@media screen and (min-width: 60em) {
  small, .caption {
    font-size: 0.8823529412rem;
  }
}
@media screen and (min-width: 70em) {
  small, .caption {
    font-size: 0.8666666667rem;
  }
}

small {
  line-height: 1rem;
}

.caption {
  color: #a8a8a8;
  margin-bottom: 1.31999rem;
  padding-top: 0.68001rem;
}
@media screen and (min-width: 30em) {
  .caption {
    margin-bottom: 1.3157042857rem;
    padding-top: 0.6842957143rem;
  }
}
@media screen and (min-width: 48em) {
  .caption {
    margin-bottom: 1.31199rem;
    padding-top: 0.68801rem;
  }
}
@media screen and (min-width: 60em) {
  .caption {
    margin-bottom: 1.2867547059rem;
    padding-top: 0.7132452941rem;
  }
}
@media screen and (min-width: 70em) {
  .caption {
    margin-bottom: 1.2816566667rem;
    padding-top: 0.7183433333rem;
  }
}

h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
  margin-top: -1rem;
}

blockquote p {
  font-style: italic;
  padding-left: 1rem;
  border-left: 0.1rem solid #7f68b5;
  margin-bottom: 1.8122976923rem;
  padding-bottom: 0.5938561538rem;
}
@media screen and (min-width: 30em) {
  blockquote p {
    margin-bottom: 1.8014185714rem;
    padding-bottom: 0.5992957143rem;
  }
}
@media screen and (min-width: 48em) {
  blockquote p {
    margin-bottom: 1.79199rem;
    padding-bottom: 0.60401rem;
  }
}
@media screen and (min-width: 60em) {
  blockquote p {
    margin-bottom: 1.7764605882rem;
    padding-bottom: 0.6117747059rem;
  }
}
@media screen and (min-width: 70em) {
  blockquote p {
    margin-bottom: 1.8066566667rem;
    padding-bottom: 0.5966766667rem;
  }
}
@media screen and (min-width: 30em) {
  blockquote {
    margin-left: -1rem;
  }
}

hr {
  background-image: linear-gradient(to bottom, transparent 50%, #c7c7c7 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 50%;
  border: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin: 0;
}

code, pre {
  background-color: #29323a;
  color: white;
  font-family: Menlo, monospace;
}

pre {
  border-radius: 0.3rem;
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  margin-bottom: 2rem;
  padding: 1rem;
}

code {
  font-size: 0.9846153846rem;
  line-height: 1rem;
}
@media screen and (min-width: 30em) {
  code {
    font-size: 0.9714285714rem;
  }
}
@media screen and (min-width: 48em) {
  code {
    font-size: 0.96rem;
  }
}
@media screen and (min-width: 60em) {
  code {
    font-size: 0.8823529412rem;
  }
}
@media screen and (min-width: 70em) {
  code {
    font-size: 0.8666666667rem;
  }
}

.upper {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.small-caps {
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem;
}

.lining-numerals {
  font-feature-settings: 'lnum' 1, 'kern' 1;
}

.oldstyle-numerals {
  font-feature-settings: 'onum' 1, 'kern' 1;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.625rem;
}
.container:before, .container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
@media screen and (min-width: 60em) {
  .container {
    padding: 0;
  }
}
