<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="description" content="">
  <meta name="title" content="{{ .Site.BaseUrl }}">
  <link rel="canonical" href="{{ .Site.BaseUrl }}">
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Params.inc.title }}"/>
  <meta property="og:url" content="{{ .Site.BaseUrl }}"/>
  <meta property="og:image" content="{{ .Site.BaseUrl }}/images/{{ .Site.Params.inc.logo }}"/>   
  <meta property="og:site_name" content="{{ .Site.Params.inc.title }}">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/style.css"/>
</head>
<body>

  <h1><a href="/">{{ .Site.Params.inc.title }}</a></h1>

  <nav>
    <ul>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>