html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @include rootsize;
}

body {
  background: $backgroundColour;
  line-height: 2rem;
  font-family: unquote(map-get($bodytype, font-family));
  font-style: normal;
  font-weight: map-get($bodytype, regular);
  @include fontsize(zeta, all);
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

svg {
  max-height: 100%;
}